.error {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  padding: 2rem;
  text-align: center;
}
.loading {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
