.cart-icon {
  padding: 1.5rem 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: rgba(53, 33, 25, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50rem;
  cursor: pointer;
}
.cart-icon:hover,
.cart-icon:active {
  background-color: #2c0d00;
}
.cart-icon h3 {
  font-size: 1.6rem;
}
.cart-icon__shape {
  font-size: 1.2em;
}
@media (max-width: 577px) {
  .cart-icon {
    padding: 1.5rem 2rem;
    gap: 1rem;
  }
  .cart-icon h3 {
    font-size: 1.4rem;
  }
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
